{% extends "interface/base.html" %}
{% load static %}


{% block contents %}
<!-- Lets add the exif into a hidden text if it was passed -->
<p class="d-none" id="filler">{% if exif %}{{exif}}{% endif %}</p>

    <section class="section-wrap">
        <div class="container full_screen">
            <div id="main_ui">
                <div id="processing">
                    <p>Processing Image</p>
                </div>
                <div class="main_box images">
                    <h5 class="heading">Photo</h5>
                    <div class="inner_box">
                        <div class="img_box btn_img" id='the_img_box'>
                            <p class="img_text">Drop a JPG file here</p>
                            <small class="img_text">or</small>
                            <form action="" class="d-none" id='the_img_form' method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" id="image_file" name="pixel_image">
                                <button type="submit" id="submit_form">submit</button>
                            </form>
                            <a href="#" class="btn btn--lg btn--alt-color btn--small btn--button img_text">Browse files</a>

                            <!-- THe image details -->
                            {% if image_link %}
                                <img src="{{image_link}}" alt="" id="the_image_view" class="d-none">
                            {% else %}
                                <img src="" alt="" id="the_image_view" class="d-none">
                            {% endif %}
                            <p class="the_image_name d-none"></p>

                            <!-- Errors box -->
                            <div class="errors-box">
                                
                            </div>
                        </div>
                        <div class="example_gallery">
                            <h6 class="head">Try <a href="{% url 'gallery' %}">example images</a></h6>
                            <div class="images">
                                {% for i in little_images %}
                                    <div class="image_box">
                                        <img class="linked_images" src="{{i.image.url}}" alt="" link_to='{{i.slugid}}'>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_box exif">
                    <h5 class="heading">Camera Settings (EXIF)</h5>
                    <div class="inner_box">
                        <div class="data_value">
                            <p>Camera model</p>
                            <p class="value"><span class="data" data-key="Camera Model">—</span></p>
                        </div>
                        <div class="data_value">
                            <p>Lens</p>
                            <p class="value"><span class="data" data-key="LensModel">—</span></p>
                        </div>
                        <div class="data_value flexed">
                            <div class="sided_box">
                                <p>Focal length</p>
                                <p class="value"><span class="data" data-key="FocalLength">—</span>mm</p>
                            </div>
                            <div class="sided_box">
                                <p>Aperture</p>
                                <p class="value">ƒ/<span class="data" data-key="FNumber">—</span></p>
                            </div>
                            <div class="sided_box">
                                <p>Shutter speed</p>
                                <p class="value"><span class="data" data-key="ExposureTime">—</span>s</p>
                            </div>
                            <div class="sided_box">
                                <p>ISO</p>
                                <p class="value"><span class="data" data-key="ISOSpeedRatings">—</span></p>
                            </div>
                        </div>
                        <div class="data_value">
                            <p>Metering mode</p>
                            <p class="value"><span class="data" data-key="MeteringMode">—</span></p>
                        </div>
                        <div class="data_value">
                            <p>Exposure program</p>
                            <p class="value"><span class="data" data-key="ExposureProgram">—</span></p>
                        </div>
                        <div class="data_value">
                            <p>Exposure compensation</p>
                            <p class="value"><span class="data" data-key="ExposureBiasValue">—</span></p>
                        </div>
                        <div class="data_value">
                            <p>Flash</p>
                            <p class="value"><span class="data" data-key="Flash">—</span></p>
                        </div>
                        <div class="data_value">
                            <p>Software</p>
                            <p class="value"><span class="data" data-key="Software">—</span></p>
                        </div>
                        <div class="data_value">
                            <p>Taken at</p>
                            <p class="value"><span class="data" data-key="DateTime">—</span></p>
                        </div>
                        <div class="data_value">
                            <p>Copyright</p>
                            <p class="value"><span class="data" data-key="ProfileCopyright">—</span></p>
                        </div>
                    </div>
                </div>
                <div class="main_box filters">
                    <h5 class="heading">Lightroom Settings</h5>
                    <div class="inner_box">
                        <div id="xml_button">
                            <button class="btn btn--alt-color">Download Settings as XMP Preset<span class="icon"><i class="fas fa-caret-square-down"></i></span></button>
                            <div class="xml_selections">
                                <div class="listed">
                                    <h5 pully='lrtemplate'>Download .lrtemplate Preset</h5>
                                    <p>old preset format</p>
                                </div>

                                <div class="listed">
                                    <h5 pully='xmp_extended'>Download Extended Preset</h5>
                                    <p>includes White Balance, Exposure, Sharpening, Lens Correction</p>
                                </div>
                                <div class="listed">
                                    <h5>Download DNG Preset for LR mobile</h5>
                                    <p>Generates a DNG file you can use as a preset in Lightroom mobile.</p>
                                </div>
                                <div class="listed">
                                    <h5>Download Extended DNG Preset</h5>
                                    <p>includes White Balance and Exposure settings</p>
                                </div>
                                <div class="listed">
                                    <h5 pully='xmp_raw'>Download Raw XMP Settings</h5>
                                    <p>Use for reference only - this file will not work as a preset. It contains all settings exported by Lightroom (XMP sidecar file)</p>
                                </div>
                            </div>
                        </div>
                        <div class="filter_box">
                            <h6 class="head">Basic</h6>
                            <p>White Balance</p>
                            <p>Temperature</p>
                            <div class="ranger">
                                <p class="key">Tint</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'>Tone</p>
                            <div class="ranger">
                                <p class="key">Exposure</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Contrast</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'></p>
                            <div class="ranger">
                                <p class="key">Highlights</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Shadows</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Whites</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Blacks</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'>Presence</p>
                            <div class="ranger">
                                <p class="key">Clarity</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Vibrance</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Saturation</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            
                            <h6 class="head mt">Tone Curve</h6>
                            <p class='centered'>Region</p>
                            <div class="ranger">
                                <p class="key">Highlights</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Lights</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Darks</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Shadows</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            
                            <h6 class="head mt">HSL</h6>

                            <p class='centered'>Hue</p>
                            <div class="ranger">
                                <p class="key">Red</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Orange</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Yellow</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Green</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Aqua</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Blue</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Purple</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Magenta</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'>Saturation</p>
                            <div class="ranger">
                                <p class="key">Red</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Orange</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Yellow</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Green</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Aqua</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Blue</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Purple</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Magenta</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'>Luminance</p>
                            <div class="ranger">
                                <p class="key">Red</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Orange</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Yellow</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Green</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Aqua</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Blue</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Purple</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Magenta</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>


                            <h6 class="head mt">Split Toning</h6>

                            <div class="ranger">
                                <p class="key">Highlights Hue</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">H. Saturation</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Balance</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Shadows Hue</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">S. Saturation</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <h6 class="head mt">Detail</h6>

                            <p class='centered'>Sharpening</p>
                            <div class="ranger">
                                <p class="key">Amount</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Radius</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Detail</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Masking</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'>Noise Reduction</p>
                            <div class="ranger">
                                <p class="key">Luminance</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Smoothness</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>


                            <h6 class="head mt">Effects</h6>

                            <p class='centered'>Grain</p>
                            <div class="ranger">
                                <p class="key">Amount</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Size</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Roughness</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="0" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'>Dehaze</p>
                            <div class="ranger">
                                <p class="key">Amount</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>


                            <h6 class="head mt">Camera Calibration</h6>

                            <p>Profile</p>

                            <p class='centered'>Shadows</p>
                            <div class="ranger">
                                <p class="key">Tint</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'>Red Primary</p>
                            <div class="ranger">
                                <p class="key">Hue</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Saturation</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'>Green Primary</p>
                            <div class="ranger">
                                <p class="key">Hue</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Saturation</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>

                            <p class='centered'>Blue Primary</p>
                            <div class="ranger">
                                <p class="key">Hue</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                            <div class="ranger">
                                <p class="key">Saturation</p>
                                <div class="the_range">
                                    <div class="slidecontainer">
                                        <input type="range" disabled min="1" max="100" value="50" class="slider" id="myRange">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_script %}
    <!-- <script type="text/javascript">
        // If exif data is passed here we want to add it to a variable
        let filler = document.querySelector('#filler')
    </script> -->
{% endblock %}