{% extends "interface/base.html" %}
{% load static %}


{% block contents %}      
    <section class="section-wrap" id="gallery">
        <div class="container">
            <h3 class="head">Our Example Photos</h3>
            <p class="support-text">Below you'll find a set of example photos with complete metadata attached. Click on any of them to view settings.</p>
            <div class="images_list">
                {% for i in images %}
                    <div class="image_box">
                        <img class="linked_images" src="{{i.image.url}}" alt="" link_to='{{i.slugid}}'>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}